/* src/components/Form.css */
form {
    display: flex;
    flex-direction: column;
    max-width: 400px;
    margin: auto;
  }
  
  input, select, button {
    margin-bottom: 10px;
    padding: 10px;
    font-size: 16px;
  }
  
  button {
    cursor: pointer;
  }
  
  span {
    font-size: 14px;
  }
  